<html>

<head>
    <meta charset="utf-8" />
    <title>Restablecer contraseña</title>
</head>

<body>
    <h1>Restablecer contraseña</h1>

    {{#if message}}
    <p>{{message}}</p>
    {{else}}
    <form action="/reset-password" method="post">
        <label for="email">Correo electrónico:</label>
        <input type="email" name="email" id="email" />

        <button type="submit">Enviar enlace de restablecimiento</button>
    </form>
    {{/if}}
</body>

</html>